* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #c5a76d; /* màu nền nâu vàng */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 360px;
    padding: 40px 30px;
    text-align: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 250px;
}

h3 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #000;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #eee;
    border-radius: 6px;
    background: #f8f8f8;
    outline: none;
    font-size: 14px;
}

.input-group .toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 25px;
}

.options a {
    text-decoration: none;
    color: #9b875b;
    font-weight: 500;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.login-btn {
    width: 100%;
    background-color: #c5a76d;
    border: none;
    color: #000;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #b59255;
}