:root {
    --bg-color: #c9ad7e; /* màu nền nâu nhạt */
    --card-bg: #ffffff;
    --gold: #c8a76b;
    --text-color: #222;
    --btn-bg: #c9ad7e;
    --btn-hover: #b8976f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.success-page {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 250px;
}

/* Card */
.card {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 40px;
    width: 360px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card img {
    display: block;
    margin: 0 auto 20px auto; /* căn giữa theo chiều ngang */
    width: 80px;
}


.card h2 {
    font-size: 18px;
    color: #111;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 1.4;
}

.btn {
    display: inline-block;
    background-color: var(--btn-bg);
    border: none;
    padding: 12px 0;
    border-radius: 6px;
    width: 100%;
    color: #111;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover);
}
