  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

  position: absolute;
  pointer-events: none;
  width: 100%;
  z-index: 1;
}

}

  text-align: center;
}

  display: flex;
  align-items: center;
}

  position: relative;
}

  border-radius: 8px;
  font-weight: 500;
}

}

  box-shadow: 0 0 0 2px rgba(203, 176, 129, 0.2);
}

  border: none;
  font-size: 16px;
}

  display: flex;
  justify-content: space-between;
  align-items: center;
}

}

}

  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

}

  text-align: center;
}

  }

  }

  }

  }
